<h1>Ideas</h1>

{{#each ideas}}
<div class="card card-body mb-3">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a class="btn btn-dark btn-block" href="/ideas/edit/{{id}}">수정하기</a>
</div>
{{else}}
    <p>작성된 아이디어가 없습니다</p>
{{/each}}